<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Kill.Node - A location-aware, NodeJS powered game of assassination</title>
  <meta name="description" content="Kill.Node is a location-aware assasination game.">
  <meta name="author" content="Dan DeFelippi, Ben Hughes, Adam Lindsay, David Moffitt">

	<link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/homeicon.png"/>

	<link rel="stylesheet" href="/css/typography.css" />
	<link rel="stylesheet" href="/css/screen.css" />

  <!--script>
   var _gaq = [['_setAccount', '123456'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script-->
</head>
<body>
	
	<!-- container -->
	<div id="container">
		<!-- wrapper -->
		<div id="main">
      <%- body %>
		</div>
		<!-- // wrapper -->
	</div>
	<!-- // container -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="/js/faye-browser-min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>